{% extends 'base.html' %}

{% block title %}
<title>{{srf.title}}</title>
{% endblock title %}

{% block content %}

<p>created - {{swahili_det.author.id}}</p>
<p>current user {{user.username}}</p>



{% if user.is_authenticated %}
  {% if user.is_staff %}
    {% if user.id == swahili_det.author.id %}
      <h4><a href="{% url 'swahili_update' swahili_det.slug %}">update</a></h4>
    {% endif %}
  {% endif %}
{% endif %}


<h2>{{swahili_det.title}}</h2>
<h5>{{swahili_det.category}}</h5>
<small>{{swahili_det.date_created}}</small>
<p>{{swahili_det.content|safe}}</p>
<p>written by <small>{{swahili_det.author}}</small></p>
<br>
<hr>
<br>
<form action="{% url 'like_content' swahili_det.pk %}" method="post">
  {% csrf_token %}
  <button type="submit" name="post_id" value="{{ swahili_det.id }}">
    like - {{total_likes}}
  </button>
</form>
<br>
<hr>
<br>

{% endblock content %}
