{% extends 'base.html' %}

{% block title %}
<title>{{swahili_det.category}} | {{swahili_det.title}}</title>
{% endblock title %}

{% block content %}

<p>created - {{swahili_det.author.id}}</p>
<p>current user {{user.username}}</p>




  {% if user.is_staff %}
    {% if user.id == swahili_det.author.id %}
      <h4><a href="{% url 'swahili_update' swahili_det.slug %}">update</a></h4>
    {% endif %}
  {% endif %}



<h2>{{swahili_det.title}}</h2>
<h5>{{swahili_det.main_cat}} - {{swahili_det.category}}</h5>
<small>{{swahili_det.date_created}}</small>
<p>{{swahili_det.content|safe}}</p>
<p>written by <small>{{swahili_det.author}}</small></p>


<br>
<hr>
<br>
<form action="{% url 'like_content' swahili_det.pk %}" method="post">
  {% csrf_token %}
  {% if user.is_authenticated %}
    {% if liked %}
        <button class="btn btn-danger" type="submit" name="post_id" value="{{ swahili_det.id }}">
          unlike
        </button>
    {% else %}
        <button class="btn btn-primary" type="submit" name="post_id" value="{{ swahili_det.id }}">
          like
        </button>
    {% endif %}
  {% else %}
        <small>login to like</small>
  {% endif %}
  <small> - {{total_likes}} likes</small>
</form>


<br>
<hr>
<br>

<h3>commments...</h3>
    {% for comment in swahili_det.comments.all %}
      <strong>{{comment.name}} - {{comment.date_added}}</strong>
      <br>
      {{comment.body }}
      <br></br>
    {% endfor %}

    <h2>add comment</h2>
    <div class="form-group">
      <form method="post">
        {%csrf_token%}
        {{form}}
        <button class="btn btn-primary" type="submit">save</button>
      </form>
    </div>

<br>
<hr>
<br>



{% endblock content %}
