{% extends 'base.html' %}

{% block title %}
<title>{{srf.title}}</title>
{% endblock title %}

{% block content %}

<p>created - {{swahili_det.author.id}}</p>
<p>current user {{user.id}}</p>

{% if user.is_authenticated %}
  {% if user.id == swahili_det.author.id %}
    <h4><a href="{% url 'swahili_update' swahili_det.slug %}">update</a></h4>
  {% endif %}
{% endif %}


<h2>{{swahili_det.title}}</h2>
<h5>{{swahili_det.category}}</h5>
<small>{{swahili_det.date_created}}</small>
<p>{{swahili_det.content|safe}}</p>
<p>written by <small>{{swahili_det.author}}</small></p>

{% endblock content %}
