{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>{{srf.title}}</title>
{% endblock title %}

{% block content %}


  {% if user.is_staff %}
    {% if user.id == edit_content.author.id %}
    <h2>content form</h2>
    <div class="container">
      <form method="post">
        {%csrf_token%}
        {{content_form.media}}
        {{content_form|crispy}}
        <button class="btn btn-primary" type="submit">save</button>
      </form>
    </div>
    {% endif %}
  {% else %}
    <h3>you are not allowed here</h3>
  {% endif %}





{% endblock content %}
